{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'demo.css' %}">
    <title>data handling example</title>
</head>
<body>
    <h1>DATA HANDLING EXAMPLE</h1>
    <form action="datahandling" method="POST">
        {% csrf_token %}
        <p><label>Enter number 1</label><input type="text" name="var1"></p>
        <p></p><label>Enter number 2</label><input type="text" name="var2"></p>
        <p></p><button>calculateSum</button></p>
    </form>
</body>
</html>